.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.divider-custom{
  display: flex;
  align-items: center;
  justify-content: center;
}
.divider-custom-line{
  height: 0.25rem;
  width: 7rem;
  color: white;
  background-color: white;
}
.divider-custom-icon{
  width: 5rem;
  text-align: center;
  font-size: 2rem;
}